<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="/invoiceform" routerLinkActive="active" >Invoice Form</a> | 
  <a routerLink="/invoices" routerLinkActive="active">Invoices</a> 
 
</nav>
<!-- <jce-users></jce-users> -->
<router-outlet></router-outlet>
<!-- Routed views go here -->